/* take away margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.smallheader {
  background-color: rgb(181, 182, 187);
  display: flex;
}
/* Navbar */
.navbar {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  color: rgb(255, 255, 255);
  align-items: center;
  align-content: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Josefin Sans", sans-serif;
}

.nav-links li {
  margin-left: 15%;
}

header {
  width: 100%;
  min-height: 90vh;
  background-image: url("./img/background.jpeg");
  background-size: cover;
}

/* Container holding the box and the text */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 32px;
  min-height: calc(70vh - 80px);
  flex-wrap: wrap;
}

.welcome-block {
  padding: 30px;
  max-width: 480px;
}

.welcome-block h3 {
  font-family: "Lobster", cursive;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
}

/* .welcome-block h3 span {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
} */

/* what's new-box */
.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 400px;
  opacity: 0.4;
  padding: 30px;
  border-radius: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.text-block h4 {
  font-size: 30px;
  text-align: center;
}

.text-block p {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

/* events*/
section {
  width: 100%;
  margin: 80px auto;
  max-width: 1900px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  max-width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row .col img {
  width: 70%;
  margin-top: 20%;
  margin-bottom: 10%;
  opacity: 0.4;
  border-top-left-radius: 220px;
  border-top-right-radius: 220px;
}

.row .col img:hover {
  opacity: 1;
}

.triangle_down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #ffffff;
  font-size: 0;
  line-height: 0;
  margin-left: 50%;
  margin-top: -40px;
}
